.checkbox-container {
    position: absolute;
    top: 10px;
    left: 10px;
}
.custom-checkbox {
    display: none;
}
.custom-checkbox-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 3px;
    cursor: pointer;
}
.custom-checkbox:checked + .custom-checkbox-label {
    background-color: #007bff;
}
.custom-checkbox:checked + .custom-checkbox-label::after {
    content: '\2714';
    color: #fff;
    position: absolute;
    top: 0;
    left: 4px;
}

.hover-card {
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 8px;
}

.hover-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    background-color: #f8f9fa;  /* Change this to your desired hover color */
}


.hover-for-blur {
    position: relative;
    overflow: hidden;
}

.hover-for-blur .thumbnail {
    display: block;
    transition: transform 0.3s ease;
}

.hover-for-blur .preview {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    max-width: 80vw;
    max-height: 80vh;
    z-index: 1000;
    transition: transform 0.3s ease;
    pointer-events: none;
}

.hover-for-blur:hover .thumbnail {
    transform: scale(1.05);
}

.hover-for-blur:hover .preview {
    transform: translate(-50%, -50%) scale(1);
}

.empty-image-hover {
    transition: transform 0.3s ease-in-out;
}

.empty-image-hover:hover {
    transform: scale(1.5);
    z-index: 1000;
}

.card {
    overflow: visible !important;
}

.empty-image-container {
    position: relative;
}

.empty-image-container .empty-image-checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}